:root {
    --body-color: #20368F;
    --quote-box-color: #EBEBEB;
    --text-color: #323232;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Tahoma', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

div {
    position: relative;
    z-index: 2;
}

#wrapper {
    display: flex;
    flex-direction: column;
}

#quote-box {
    background-color: var(--quote-box-color);
    width: 450px;
    padding: 15px 10px;
    text-align: center;
    position: relative;
}

#quote-box #quote-text {
    padding: 10px;
    font-size: x-large;
    color: var(--body-color);
}

#quote-box #quote-author {
    font-size: large;
    color: var(--body-color);
    padding: 5px;
    float: right;
    font-weight: lighter;
}

#quote-box .buttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#quote-box .buttons .links {
    background-color: var(--body-color);
    z-index: 1;
    padding: 5px;
    border-radius: 2px;
}

#quote-box .buttons i {
    color: var(--quote-box-color);
}

#quote-box #new-quote {
    color: var(--quote-box-color);
    background-color: var(--body-color);
    font-size: large;
    border-radius: 2px;
    border: none;
    padding: 0 5px;
}

#quote-box #new-quote:hover {
    cursor: pointer;
}